<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles/css/Site.css">
    <link rel="stylesheet" href="styles/css/icons-mdi/css/materialdesignicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIN Recipient List</title>
</head>

<body>

<div class='position-relative text-center' id="tinPageProgressBar" style="display:none">
    <div class="position-fixed w-100 h-100 d-flex align-items-center justify-content-center z-index-9999">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="col-md-12 text-center mt-3">
    <img src="images/tbslogo.png" alt="TaxBandits Logo" class="mb-5 logo">
</div>

<div id="emptyTinListDiv" class='container mx-auto mt-5' style="display:none">
    <div class="text-center">
        <p id="pEmptyDataContent"></p>
        <div class="text-center mt-4">
            <button class="btn btn_primary mx-2" id="btnRequestTinMatching">Request TIN Match</button>
        </div>
    </div>
    <div class='text-start'>
        <button class='btn_cancel shadow mt-3 mb-3' th:attr="onclick='location.href=\'' + @{/listBusiness} + '\''">Back
        </button>
    </div>
</div>

<div class="container">

    <div id="tinListTitle" style="display:none">
        <div class='d-flex align-items-center justify-content-between'>
            <div>
                <h1 class='head-1'>List TIN Matching Recipients</h1>
                <div class="heading-bottom-line position-relative pb-0  mb-3"></div>
            </div>
        </div>
    </div>

    <table class="table table-striped mt-2 table-bordered" id="tinListTable" style="display:none">
        <thead>
        <tr>
            <th class="text-center">Sequence Id</th>
            <th class="text-center">Submission Id</th>
            <th class="text-center">Recipient Name</th>
            <th class="text-center">Record Id</th>
            <th class="text-center">TIN Status</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody id="tinTableBody">
        </tbody>
    </table>

    <div class='text-start' id="tinBackList" style="display:none">
        <button class='btn_cancel shadow mt-3 mb-3' th:attr="onclick='location.href=\'' + @{/listBusiness} + '\''">
            Back
        </button>
    </div>

    <div class="modal fade" id="tinStatusModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-l">
            <div class="modal-content" id="ModelBody">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">TinMatching Status Response</h5>
                    <button type="button"
                            class="btn-close bg-white rounded-circle border-0 fw-bold position-absolute end-n-10 top-n-13 modal-close button-hide fs-18 fw-500"
                            data-bs-dismiss="modal" aria-label="Close">X
                    </button>
                </div>

                <div class="modal-body">
                    <div id="cancelErrorBody" style="display:none">
                        <h2 class="tabel-sub-head">Error Records</h2>
                        <div class="table-container mb-3">
                            <table>
                                <tbody id="cancelErrorsTBody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="cancelSuccessStatusBody" style="display:none">
                        <h2 class="tabel-sub-head">Success Records</h2>
                        <div class="table-container mb-3">
                            <table>
                                <tbody id="cancelSuccessRecordsTBody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="statusErrorBody" style="display:none">
                        <h2 class="tabel-sub-head">Error Records</h2>
                        <div class="table-container mb-3">
                            <table>
                                <tr class="fw-600 ">
                                    <th class="text-center fw-600">Id</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Message</th>
                                </tr>
                                <tbody id="statusErrorsTBody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="statusSuccessStatusBody" style="display:none">
                        <div class="table-container mb-3">
                            <table>
                                <tbody id="statusSuccessRecordsTBody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/utils_js.js"></script>
<script src="js/string_utils_js.js"></script>
<script src="js/end_points_js.js"></script>
<script src="js/tin_recipient_list_js.js"></script>
</body>
</html>