<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/css/Site.css">
    <link rel="stylesheet" href="styles/css/icons-mdi/css/materialdesignicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Update Business</title>
</head>
<body>

<div class='position-relative text-center' id="pageProgressBar" style="display:none">
    <div class="position-fixed w-100 h-100 d-flex align-items-center justify-content-center z-index-9999">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="col-md-12 text-center mt-3">
    <img src="images/tbslogo.png" alt="TaxBandits Logo" class="mb-5 logo">
</div>

<div class="container">
    <div class="w-75 m-auto" id="divPageBody" style="display:none">
        <div class="border-1 border rounded-2 pb-4">
            <h2 class="head-h1 px-12px" id="h2PageTitle">Create Business Details</h2>
            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>Business
                            Name:</label>
                        <input type="text" class="form-control" id="textBusinessName"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Payer Ref:</label>
                        <input type="text" class="form-control" id="textPayerRef"/>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Trade Name:</label>
                        <input type="text" class="form-control" id="textTradeName"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>EIN or SSN:</label>
                        <span class="m-3">
                                <input class="form-check-input cursor-pointer" type="checkbox" id="checkBoxIsEIN"/> Is EIN?</span>
                        <input type="text" class="form-control" id="textEINOrSSN" maxLength="9"/>
                    </div>
                </div>
            </div>

            <div id="tinDiv">
                <div class="row d-flex justify-content-center mb-15px">
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label"><span class="text-danger">*</span>First Name:</label>
                            <input type="text" class="form-control" id="textFirstName"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label">Middle Name:</label>
                            <input type="text" class="form-control" id="textMeddleName"/>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center mb-15px">
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label"><span class="text-danger">*</span>Last Name:</label>
                            <input type="text" class="form-control" id="textLastName"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label">Suffix:</label>
                            <select class="form-control form-select" id="selectSuffix">
                                <option disabled selected value="">Suffix</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>Email
                            Address:</label>
                        <input type="text" class="form-control" id="textEmailAddress"/>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Contact Name:</label>
                        <input type="text" class="form-control" id="textContactName"/>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>Phone:</label>
                        <input type="text" class="form-control" id="textPhone" maxLength="10"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Phone Extn:</label>
                        <input type="text" class="form-control" id="textPhoneExtn" maxLength="5"/>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Fax:</label>
                        <input type="text" class="form-control" id="textFax" maxLength="10"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>Business
                            Type:</label>
                        <select class="form-control form-select" id="selectBusinessType">
                            <option selected disabled value="">Business Type</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>Business Member Type:</label>
                        <select class="form-control form-select" id="selectBusinessMemberType">
                            <option disabled selected value="">Business Member Type</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Signing Authority
                            Name:</label>
                        <input type="text" class="form-control" id="textSigningAuthorityName"/>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Signing Authority
                            Phone:</label>
                        <input type="text" class="form-control" id="textSigningAuthorityPhone" maxLength="10"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Kind Of Employer:</label>
                        <select class="form-control form-select" id="selectKindOfEmployer">
                            <option disabled selected value="">Kind Of Employer</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <span style="display: inline-block"></span>
                    <div class="labelName">
                        <label class="control-label">Kind Of Payer:</label>
                        <select class="form-control form-select" id="selectKindOfPayer">
                            <option disabled selected value="">Kind Of Payer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <span><input class="form-check-input cursor-pointer" type="checkbox"
                                 id="checkIsForeign"/> Is Foreign?</span>
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>Address 1:</label>
                        <input type="text" class="form-control" id="textAddress1"/>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-15px">
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label">Address 2:</label>
                        <input type="text" class="form-control" id="textAddress2"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="labelName">
                        <label class="control-label"><span class="text-danger">*</span>City:</label>
                        <input type="text" class="form-control" id="textCity"/>
                    </div>
                </div>
            </div>

            <div style="display: none" id="foreignDiv">
                <div class="row d-flex justify-content-center mb-15px">
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label"><span class="text-danger">*</span>Country:</label>
                            <select class="form-control form-select" id="selectCountry">
                                <option disabled selected value="">Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label"><span class="text-danger">*</span>ProvinceOrStateNm:</label>
                            <input type="text" class="form-control" id="textProvinceOrStateNm"/>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center mb-15px">
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label"><span class="text-danger">*</span>Postal Code:</label>
                            <input type="text" class="form-control" id="textPostalCode"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>

            <div id="usDiv">
                <div class="row d-flex justify-content-center mb-15px">
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label"><span class="text-danger">*</span>State:</label>
                            <select class="form-control form-select" id="selectState">
                                <option disabled selected value="">State</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="labelName">
                            <label class="control-label"><span class="text-danger">*</span>Zip Code:</label>
                            <input type="text" class="form-control" id="textZipCode"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center p-10">
                <button class="btn btn_primary shadow btn_md" id="createBusinessButton"></button>
            </div>
        </div>
        <button class="btn_cancel shadow mt-3 mb-3" id="btnBackToListBusiness">
            Back
        </button>

        <div class="modal fade" id="createBusinessModalToggle" aria-hidden="true"
             aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" id="ModelBody">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Business Response</h5>
                        <button type="button"
                                class="btn-close bg-white rounded-circle border-0 fw-bold position-absolute end-n-10 top-n-13 modal-close button-hide fs-18 fw-500"
                                data-bs-dismiss="modal" aria-label="Close">X
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="table-container mt-2 mb-4">
                            <table>
                                <tr class="fw-600 ">
                                    <th class="text-center fw-600 bg-dull-blue" width="25%">Status Code</th>
                                    <th class="text-center" width="30%">Status Name</th>
                                    <th class="text-center" width="35%">Status Message</th>
                                </tr>
                                <tbody id="createBusinessStatusTBody">
                                </tbody>
                            </table>
                        </div>

                        <div id="errorBody" style="display:none">
                            <h2 class="tabel-sub-head">Error Records</h2>
                            <div class="table-container mb-3">
                                <table>
                                    <tr class="fw-600 ">
                                        <th class="text-center fw-600">Id</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Message</th>
                                        <th class="text-center">Type</th>
                                    </tr>
                                    <tbody id="errorsTBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="successRecordsBody" style="display:none">
                            <div>
                                <h2 class="tabel-sub-head mt-3" id="submissionId"></h2>
                            </div>

                            <h2 class="tabel-sub-head mt-4">Success Records</h2>

                            <div class="table-container mb-3">
                                <table>
                                    <tr class="fw-600 ">
                                        <th class="text-center fw-600">Business Id</th>
                                        <th class="text-center">IsEIN</th>
                                        <th class="text-center">EINorSSN</th>
                                        <th class="text-center">Business Name/Full Name</th>
                                    </tr>
                                    <tbody id="successRecordsTBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/utils_js.js"></script>
<script src="js/string_utils_js.js"></script>
<script src="js/end_points_js.js"></script>
<script src="js/create_or_update_business_js.js"></script>
</body>
</html>
